<div class="row mx-auto">
        <div class="card w-100">
            <div class="card-header">
                <span class="fntBg">
                    Find Slots By District
                </span>
            </div>
            <div class="card-body">
                <div class="row mx-auto d-flex justify-content-center">
                    <form [formGroup]="districtForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label for="exampleInputEmail1">States</label>
                            <select class="custom-select" (change)="changeState($event)" formControlName="stateNm">
                                    <option value="">Choose your city</option>
                                    <option *ngFor="let st of stateName.states" [ngValue]="st.state_id">{{st.state_name}} {{st.state_id}}</option>
                                  </select>
                            <small id="pinHelp" class="form-text text-muted">Select State</small>
                        </div>
                        <div class="form-group" *ngIf="hideCity">
                            <label for="exampleInputEmail1">City</label>
                            <select class="custom-select" (change)="changeCity($event)" formControlName="city">
                                    <option value="">Choose your city</option>
                                    <option *ngFor="let dis of cityList.districts" [ngValue]="dis.district_id">{{dis.district_name}}</option>
                                  </select>
                            <small id="pinHelp" class="form-text text-muted">Select City</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Date</label>
                            <input type="text" formControlName="date" class="form-control" id="exampleInputPassword1"
                                aria-describedby="dateHelp">
                            <small id="dateHelp" class="form-text text-muted">Enter Date in <b>dd-mm-yyyy</b></small>
                        </div>
                        <div class="row mx-auto d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
    
                    </form>
                </div>
    
            </div>
        </div>
    </div>
    <div class="row mx-auto" *ngIf="slotData">
        <find-by-pin-searched-data class="w-100" [pinData]="slotData"></find-by-pin-searched-data>
    </div>
    <!-- <div class="row mx-auto" *ngIf="!slotData">
        <no-data-avaialable class="w-100"></no-data-avaialable>
    </div> -->