<footer>
    <div class="row mx-auto bg-primary d-block d-md-none">
        <div class="container w-100">
            <div class="row mx-auto">
                <!-- <div class="col-12 py-2">
                        <span class="infoTxt"> Info: </span>
                    </div> -->
                <div class="col-12 border-bottom py-2">
                    <span class="infoTxt"><i class="fa fa-file-text-o"></i>
                        <a routerLink="Help/Helpfull-Links"> Useful Link's</a>
                    </span>
                </div>
                <div class="col-12 border-bottom py-2">
                    <span class="infoTxt"><i class="fa fa-mobile"></i> Helpline Number :+91-11-23978046 </span>
                </div>
                <div class="col-12 border-bottom py-2">
                    <span class="infoTxt"><i class="fa fa-phone"></i> Toll Free : 1075 </span>
                </div>
                <div class="col-12 border-bottom py-2">
                    <span class="infoTxt"><i class="fa fa-envelope-o"></i> Helpline Email ID :
                        <a href="mailto:ncov2019@gov.in">ncov2019@gov.in</a> </span>
                </div>
                <div class="col-12 border-bottom py-2">
                    <span class="infoTxt"><i class="fa fa-file-text-o"></i>
                        <a href="https://www.mohfw.gov.in/pdf/coronvavirushelplinenumber.pdf" target="_blank">
                            States & Union Territories (View pdf)
                        </a>
                    </span>
                </div>
                <div class="col-12 border-bottom py-2">
                    <span class="infoTxt"><i class="fa fa-file-text-o"></i>
                        <a routerLink="Help/FAQ"> FAQ's</a>
                    </span>
                </div>

            </div>
        </div>
    </div>
    <div class="bgColor size">
        <p class="m-0 mx-auto ht py-4">Copyright &copy;<a href="https://www.instagram.com/anigallary/"
                target="_blank">anigallary 2020</a> | <a href="https://github.com/anikan06/COVID19_Angular"
                target="_blank">Fork me on GitHub</a>
            | Source: <a href="https://apisetu.gov.in/"
            target="_blank">apisetu.gov.in</a></p>
    </div>
</footer>