footer{
    .bgColor{
        background-color: #DDD;
        font-size:18px;
        text-align: center;
    }
    .ht{
        height: 5rem;
    }

    .infoTxt {
        color: #ffffff;

        a {
            color: #ffffff;
        }
    }
}