<div class="container px-0">
    <div class="row mx-auto w-100 my-3">
        <div class="card w-100">
            <div class="card-header">
                <span class="cdHd text-dark text-uppercase">
                     Vaccination sessions for Specific Date's
                </span>
            </div>
            <div class="card-body">
                <div class="row mx-auto w-100">
                    <div class="col-6">
                            <a class="btn btn-sm btn-block btn-info" routerLink="../find-by-pin">Find By PIN</a>
                    </div>
                    <div class="col-6">
                            <a class="btn btn-sm btn-block btn-info" routerLink="../find-by-district">Find By District</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card w-100 my-2">
            <div class="card-header">
                <span class="cdHd text-dark text-uppercase">
                     Vaccination sessions for 7 days
                </span>
                <div class="alert alert-danger" role="alert">
                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> WORK IN PROGRESS... UNDER DEVELOPMENT
                      </div>
            </div>
            <div class="card-body">
                <div class="row mx-auto w-100">
                    <div class="col-6">
                            <button class="btn btn-sm btn-block btn-info" disabled="true" routerLink="../find-by-pin">Find By PIN</button>
                    </div>
                    <div class="col-6">
                            <button class="btn btn-sm btn-block btn-info" disabled="true" routerLink="../find-by-district">Find By District</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>